:root {
  --cozy-white: #f0f3f4;
  --cozy-blue: #1d6d86;
  --cozy-black: #0c0c0d;
  --cozy-gray: #a0a1a1;
  --cozy-yellow: #fed361;
  --cozy-orange: #6c3510;
  --cozy-blue2: #4ebeef;
  --cozy-green: #144b00;
  --cozy-orange2: #af8536;
  --cozy-red: #ff4244;
  --cozy-bean: #99362a;
  --cozy-coffee: #130d07;
  --cozy-mat: #cfd1c3;
  --cozy-hotcoffee: #130d07;
  --cozy-bubble: #a18a47;
}

html{
  box-sizing: border-box;
}
body {
  background-color: var(--cozy-blue);
  color: var(--cozy-white);
  text-align: center;
  padding-bottom: 2px;
  min-height: 100vh;
  min-width: 100%;
}

.container{
  background-color: var(--cozy-bean);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  inline-size: 460px; /*fix size for the container*/
  padding-bottom: 12px;
  opacity: 90%;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: var(--cozy-hotcoffee);
  height: 15px;
  width: 20%;

}

img {
  height: 140px;
  border-radius: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-position: inside;
  width: 400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

ol {
  list-style-position: inside;
  max-width: 235px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1px;
  padding-right: 0px;
}

h1 {
  color: var(--cozy-coffee);
  font-size: x-large;
}
h2, h3 {
  color: var(--cozy-bubble);
}

.nospace {
  margin-bottom: 0px;
}

.work {
  padding-left: 60px;
}

.year {
  padding-left: 10px;
  white-space: nowrap; /*not break the words*/
  overflow: hidden; /*not break the words*/
}

.contact {
  color: var(--cozy-mat);
  text-decoration: none;
  font-weight: 700;
  margin-right: 12px;
}

.contact:hover {
  color: var(--cozy-black);
}

.contact:active {
  color: var(--cozy-green);
}
